<head>
    <link rel="stylesheet" href="/css/inventory.css">
</head>


<body>
  <h1>Inventory Page</h1>
  <!-- Search Bar -->
  <input type="text" id="search-input" placeholder="Search products...">
  <button id="search-button">Search</button>

  <!-- Results Container -->
  <div id="results-container">
      <% inventory.forEach(item => { %>
          <div class="inventory-item">
              <h3 class="product-name">Product Name: <%= item.productName %></h3>
              <p>MRP: <%= item.MRP %></p>
              <p>SP: <%= item.SP %></p>
              <p>Quantity: <%= item.quantity %></p>
              <p><img src="/assets/images/<%= item.image %>"></p>
          </div>
      <% }); %>
  </div>
    
  <script src="/js/inventory.js"></script>
</body>



